* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
}

.container {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #000000;
    border-radius: 8px;
    margin: 20px;
}

.caixa-busca {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ffc107;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #210766;
    color: #ffffff;
}

.resultado {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
}

