body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.carta img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}